go 1.21.3

use (
	"./17 - Aplicação de Linha de comando"
	"./19 - Testes Automatizados/1 - introdução"
	"./19 - Testes Automatizados/2 - Avançado"
	"./23 - Banco de dados"
	"./24 - Crud básico"
	./APP
	./webAPP
)
